* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
src/Flowspan.Release/build-packages.lock.json binary
src/Flowspan.Release/runtime-packages.lock.json binary
